venv
sampledata
models 
images
other
projectaria_tools
runs
notebooks_and_scripts/model_testing/models
utilities
notebooks_and_scripts/model_testing/perception_models
data
train
notebooks_and_scripts/best_swin_video_model.pth
notebooks_and_scripts/dataset/scripts/GazeProcessor.py
__pycache__
ReadingInTheWild_download_urls.json
notebooks_and_scripts/dataset/scripts/__pycache__
notebooks_and_scripts/dataset/__pycache__
notebooks_and_scripts/__pycache__
notebooks_and_scripts/wandb
notebooks_and_scripts/checkpoints
notebooks_and_scripts/scripts/__pycache__
notebooks_and_scripts/unused
notebooks_and_scripts/DS_Store
.DS_Store
.venv
notebooks_and_scripts/testing.ipynb
test_results/all_modalities/1/multimodal_epoch=09_val_acc=0.975.ckpt
test_results/all_modalities/1/wandb.zip
notebooks_and_scripts/yolo.ipynb
notebooks_and_scripts/dashboard/DriverEvaluationTool.sh
notebooks_and_scripts/dashboard/backend/main.py
.gitignore
