home/michaelrice/MSc_AI_Thesis/MichaelRiceThesis/sampledata/*
home/michaelrice/MSc_AI_Thesis/MichaelRiceThesis/projectaria_tools/
venv/
Coding/notebooks_and_scripts/OtherModelScripts/EgoBlurModels/
Coding/notebooks_and_scripts/OtherModelScripts/SceneScript/

home/michaelrice/images/*